PruebaGitClase06/bin/Debug
PruebaGitClase06/bin/Release
PruebaGitClase06/obj/Debug
PruebaGitClase06/obj/Release
.vs/PruebaGitClase06
PruebaGitClase06/bin/PruebaGitClase06.dll
PruebaGitClase06/bin/PruebaGitClase06.dll.config
PruebaGitClase06/bin/PruebaGitClase06.pdb
PruebaGitClase06/obj
PruebaGitClase06/tmp

